examples/tcp_request2_demo.json
[
    {
        "id": "a1a9f5626a019087",
        "type": "tab",
        "label": "tcp request2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e1fcfc0f73dceb57",
        "type": "tcp in",
        "z": "a1a9f5626a019087",
        "name": "",
        "server": "server",
        "host": "",
        "port": "1889",
        "datamode": "stream",
        "datatype": "buffer",
        "newline": "",
        "topic": "",
        "trim": false,
        "base64": false,
        "tls": "",
        "x": 640,
        "y": 180,
        "wires": [
            [
                "9fdecf93631ac779",
                "9e47e57de54b4c07",
                "2fd0c1b0eec4a6a8",
                "21cfb198535ebd82",
                "22ac8007542ec96c",
                "955ead46270e3569",
                "94f4c716083391f7",
                "08c0e5551c5b826b",
                "8f425debfceb0973"
            ]
        ]
    },
    {
        "id": "e0ba0f142f6c0319",
        "type": "tcp out",
        "z": "a1a9f5626a019087",
        "name": "",
        "host": "",
        "port": "",
        "beserver": "reply",
        "base64": false,
        "end": false,
        "tls": "",
        "x": 1190,
        "y": 660,
        "wires": []
    },
    {
        "id": "1bbc32e11c91736d",
        "type": "tcp request2",
        "z": "a1a9f5626a019087",
        "name": "timeout of 3000ms;over time 0 ",
        "server": "127.0.0.1",
        "serverType": "str",
        "port": "1889",
        "portType": "str",
        "out": "time",
        "ret": "buffer",
        "overTime": "0",
        "waitingTime": "3000",
        "waitingLength": "12",
        "splitc": "\\n",
        "bufferLength": "65536",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 330,
        "y": 120,
        "wires": [
            [
                "3a096697383f3eaa"
            ]
        ]
    },
    {
        "id": "50ca40e975775c31",
        "type": "inject",
        "z": "a1a9f5626a019087",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[1]",
        "payloadType": "bin",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "1bbc32e11c91736d"
            ]
        ]
    },
    {
        "id": "9fdecf93631ac779",
        "type": "debug",
        "z": "a1a9f5626a019087",
        "name": "tcp server received",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 180,
        "wires": []
    },
    {
        "id": "cf6ffc9c87930b75",
        "type": "change",
        "z": "a1a9f5626a019087",
        "name": "[1]",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[1]",
                "tot": "bin"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 240,
        "wires": [
            [
                "e0ba0f142f6c0319"
            ]
        ]
    },
    {
        "id": "9e47e57de54b4c07",
        "type": "delay",
        "z": "a1a9f5626a019087",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 840,
        "y": 240,
        "wires": [
            [
                "cf6ffc9c87930b75"
            ]
        ]
    },
    {
        "id": "3a096697383f3eaa",
        "type": "debug",
        "z": "a1a9f5626a019087",
        "name": "tcp client response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 120,
        "wires": []
    },
    {
        "id": "2fd0c1b0eec4a6a8",
        "type": "delay",
        "z": "a1a9f5626a019087",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 840,
        "y": 300,
        "wires": [
            [
                "594974868495ff9e"
            ]
        ]
    },
    {
        "id": "21cfb198535ebd82",
        "type": "delay",
        "z": "a1a9f5626a019087",
        "name": "",
        "pauseType": "delay",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 840,
        "y": 360,
        "wires": [
            [
                "3203c309b7d50a5c"
            ]
        ]
    },
    {
        "id": "22ac8007542ec96c",
        "type": "delay",
        "z": "a1a9f5626a019087",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 840,
        "y": 420,
        "wires": [
            [
                "190eb14f3ba2bc9c"
            ]
        ]
    },
    {
        "id": "955ead46270e3569",
        "type": "delay",
        "z": "a1a9f5626a019087",
        "name": "",
        "pauseType": "delay",
        "timeout": "6",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 840,
        "y": 480,
        "wires": [
            [
                "fdb8257b80acf584"
            ]
        ]
    },
    {
        "id": "594974868495ff9e",
        "type": "change",
        "z": "a1a9f5626a019087",
        "name": "[2]",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[2]",
                "tot": "bin"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 300,
        "wires": [
            [
                "e0ba0f142f6c0319"
            ]
        ]
    },
    {
        "id": "3203c309b7d50a5c",
        "type": "change",
        "z": "a1a9f5626a019087",
        "name": "[3]",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[3]",
                "tot": "bin"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 360,
        "wires": [
            [
                "e0ba0f142f6c0319"
            ]
        ]
    },
    {
        "id": "190eb14f3ba2bc9c",
        "type": "change",
        "z": "a1a9f5626a019087",
        "name": "[4]",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[4]",
                "tot": "bin"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 420,
        "wires": [
            [
                "e0ba0f142f6c0319"
            ]
        ]
    },
    {
        "id": "fdb8257b80acf584",
        "type": "change",
        "z": "a1a9f5626a019087",
        "name": "[5]",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[5]",
                "tot": "bin"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 480,
        "wires": [
            [
                "e0ba0f142f6c0319"
            ]
        ]
    },
    {
        "id": "94f4c716083391f7",
        "type": "delay",
        "z": "a1a9f5626a019087",
        "name": "",
        "pauseType": "delay",
        "timeout": "7",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 840,
        "y": 540,
        "wires": [
            [
                "ee35b86313a1ad5c"
            ]
        ]
    },
    {
        "id": "ee35b86313a1ad5c",
        "type": "change",
        "z": "a1a9f5626a019087",
        "name": "[6]",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[6]",
                "tot": "bin"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 540,
        "wires": [
            [
                "e0ba0f142f6c0319"
            ]
        ]
    },
    {
        "id": "08c0e5551c5b826b",
        "type": "delay",
        "z": "a1a9f5626a019087",
        "name": "",
        "pauseType": "delay",
        "timeout": "8",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 840,
        "y": 600,
        "wires": [
            [
                "7bff53c689bec17c"
            ]
        ]
    },
    {
        "id": "7bff53c689bec17c",
        "type": "change",
        "z": "a1a9f5626a019087",
        "name": "[7,13,10] \\n",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[7,13,10]",
                "tot": "bin"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 600,
        "wires": [
            [
                "e0ba0f142f6c0319"
            ]
        ]
    },
    {
        "id": "8f425debfceb0973",
        "type": "delay",
        "z": "a1a9f5626a019087",
        "name": "",
        "pauseType": "delay",
        "timeout": "9",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 840,
        "y": 660,
        "wires": [
            [
                "408b96e3e9711e55"
            ]
        ]
    },
    {
        "id": "408b96e3e9711e55",
        "type": "change",
        "z": "a1a9f5626a019087",
        "name": "[8]",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[8]",
                "tot": "bin"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 660,
        "wires": [
            [
                "e0ba0f142f6c0319"
            ]
        ]
    },
    {
        "id": "9e684e193d24accd",
        "type": "comment",
        "z": "a1a9f5626a019087",
        "name": "[1,2,3,4]",
        "info": "",
        "x": 120,
        "y": 80,
        "wires": []
    },
    {
        "id": "2901fe8626c67876",
        "type": "tcp request2",
        "z": "a1a9f5626a019087",
        "name": "timeout of 3000ms;over time 2000ms",
        "server": "127.0.0.1",
        "serverType": "str",
        "port": "1889",
        "portType": "str",
        "out": "time",
        "ret": "buffer",
        "overTime": "2000",
        "waitingTime": "3000",
        "waitingLength": "12",
        "splitc": "\\n",
        "bufferLength": "65536",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 350,
        "y": 280,
        "wires": [
            [
                "3a096697383f3eaa"
            ]
        ]
    },
    {
        "id": "fad55658818f533c",
        "type": "inject",
        "z": "a1a9f5626a019087",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[1]",
        "payloadType": "bin",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "2901fe8626c67876"
            ]
        ]
    },
    {
        "id": "61caf98da8f3ecdd",
        "type": "comment",
        "z": "a1a9f5626a019087",
        "name": "[1,2,3]",
        "info": "",
        "x": 110,
        "y": 240,
        "wires": []
    },
    {
        "id": "dd98f08d2a8d31cb",
        "type": "tcp request2",
        "z": "a1a9f5626a019087",
        "name": "timeout of 5000ms;over time 2000ms",
        "server": "127.0.0.1",
        "serverType": "str",
        "port": "1889",
        "portType": "str",
        "out": "time",
        "ret": "buffer",
        "overTime": "2000",
        "waitingTime": "5000",
        "waitingLength": "12",
        "splitc": "\\n",
        "bufferLength": "65536",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 350,
        "y": 380,
        "wires": [
            [
                "3a096697383f3eaa"
            ]
        ]
    },
    {
        "id": "48a2e12d1a3f39ef",
        "type": "inject",
        "z": "a1a9f5626a019087",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[1]",
        "payloadType": "bin",
        "x": 110,
        "y": 380,
        "wires": [
            [
                "dd98f08d2a8d31cb"
            ]
        ]
    },
    {
        "id": "ffe2278fabfbecf9",
        "type": "comment",
        "z": "a1a9f5626a019087",
        "name": "[1,2,3,4,5]",
        "info": "",
        "x": 120,
        "y": 340,
        "wires": []
    },
    {
        "id": "46850c8dbfa680e1",
        "type": "tcp request2",
        "z": "a1a9f5626a019087",
        "name": "timeout of 5000ms;over time 10000ms",
        "server": "127.0.0.1",
        "serverType": "str",
        "port": "1889",
        "portType": "str",
        "out": "time",
        "ret": "buffer",
        "overTime": "10000",
        "waitingTime": "5000",
        "waitingLength": "12",
        "splitc": "\\n",
        "bufferLength": "65536",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 350,
        "y": 480,
        "wires": [
            [
                "3a096697383f3eaa"
            ]
        ]
    },
    {
        "id": "883d8000dd68a0bc",
        "type": "inject",
        "z": "a1a9f5626a019087",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[1]",
        "payloadType": "bin",
        "x": 110,
        "y": 480,
        "wires": [
            [
                "46850c8dbfa680e1"
            ]
        ]
    },
    {
        "id": "fbfee2efecdcb0be",
        "type": "comment",
        "z": "a1a9f5626a019087",
        "name": "[1,2,3,4,5,6]",
        "info": "",
        "x": 130,
        "y": 440,
        "wires": []
    },
    {
        "id": "56913af52aba7263",
        "type": "tcp request2",
        "z": "a1a9f5626a019087",
        "name": "timeout of 3000ms;over time 1000ms",
        "server": "127.0.0.1",
        "serverType": "str",
        "port": "1889",
        "portType": "str",
        "out": "time",
        "ret": "buffer",
        "overTime": "1000",
        "waitingTime": "3000",
        "waitingLength": "12",
        "splitc": "\\n",
        "bufferLength": "65536",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 350,
        "y": 200,
        "wires": [
            [
                "3a096697383f3eaa"
            ]
        ]
    },
    {
        "id": "c231fc8f0eadf00a",
        "type": "inject",
        "z": "a1a9f5626a019087",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[1]",
        "payloadType": "bin",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "56913af52aba7263"
            ]
        ]
    },
    {
        "id": "d85739c12202848c",
        "type": "comment",
        "z": "a1a9f5626a019087",
        "name": "this get error: tcpin.errors.connect-fail 127.0.0.1:1889",
        "info": "",
        "x": 250,
        "y": 160,
        "wires": []
    },
    {
        "id": "8d9c5281b5f277aa",
        "type": "catch",
        "z": "a1a9f5626a019087",
        "name": "catch `timeout of 3000ms;over time 1000ms` error",
        "scope": [
            "56913af52aba7263"
        ],
        "uncaught": false,
        "x": 220,
        "y": 580,
        "wires": [
            [
                "97462adb31b4b790"
            ]
        ]
    },
    {
        "id": "97462adb31b4b790",
        "type": "debug",
        "z": "a1a9f5626a019087",
        "name": "catch error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error.message",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 580,
        "wires": []
    },
    {
        "id": "9a6abccded3c56f6",
        "type": "tcp request2",
        "z": "a1a9f5626a019087",
        "name": "never - keep connection open",
        "server": "127.0.0.1",
        "serverType": "str",
        "port": "1889",
        "portType": "str",
        "out": "sit",
        "ret": "buffer",
        "overTime": "0",
        "waitingTime": "0",
        "waitingLength": "12",
        "splitc": "\\n",
        "bufferLength": "65536",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 350,
        "y": 1400,
        "wires": [
            [
                "e23fb1767523d2a3"
            ]
        ]
    },
    {
        "id": "c37904ddebe5554e",
        "type": "inject",
        "z": "a1a9f5626a019087",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 1400,
        "wires": [
            [
                "9a6abccded3c56f6"
            ]
        ]
    },
    {
        "id": "e23fb1767523d2a3",
        "type": "debug",
        "z": "a1a9f5626a019087",
        "name": "keep watch",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 1400,
        "wires": []
    },
    {
        "id": "a2c3cdc68ef64af0",
        "type": "tcp request2",
        "z": "a1a9f5626a019087",
        "name": "when receive \\n",
        "server": "127.0.0.1",
        "serverType": "str",
        "port": "1889",
        "portType": "str",
        "out": "char",
        "ret": "buffer",
        "overTime": "0",
        "waitingTime": "0",
        "waitingLength": "12",
        "splitc": "\\n",
        "bufferLength": "65536",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 300,
        "y": 760,
        "wires": [
            [
                "98c232a9e122bead"
            ]
        ]
    },
    {
        "id": "fe914179c604cacd",
        "type": "inject",
        "z": "a1a9f5626a019087",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 760,
        "wires": [
            [
                "a2c3cdc68ef64af0"
            ]
        ]
    },
    {
        "id": "98c232a9e122bead",
        "type": "debug",
        "z": "a1a9f5626a019087",
        "name": "when charater receive X",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 760,
        "wires": []
    },
    {
        "id": "11aef95ee404217c",
        "type": "tcp request2",
        "z": "a1a9f5626a019087",
        "name": "when receive \\n; over time 1000ms",
        "server": "127.0.0.1",
        "serverType": "str",
        "port": "1889",
        "portType": "str",
        "out": "char",
        "ret": "buffer",
        "overTime": "1000",
        "waitingTime": "0",
        "waitingLength": "12",
        "splitc": "\\n",
        "bufferLength": "65536",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 360,
        "y": 840,
        "wires": [
            [
                "98c232a9e122bead"
            ]
        ]
    },
    {
        "id": "8e80fbc7d2b4d34b",
        "type": "inject",
        "z": "a1a9f5626a019087",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 840,
        "wires": [
            [
                "11aef95ee404217c"
            ]
        ]
    },
    {
        "id": "26c0c31b3848edb6",
        "type": "comment",
        "z": "a1a9f5626a019087",
        "name": "[1,2,3,4,5,6,7,13,10]",
        "info": "",
        "x": 150,
        "y": 720,
        "wires": []
    },
    {
        "id": "881bb183a877c4b5",
        "type": "comment",
        "z": "a1a9f5626a019087",
        "name": "connect failed 127.0.0.1:1889",
        "info": "",
        "x": 180,
        "y": 800,
        "wires": []
    },
    {
        "id": "b7b79b1aa558ad0b",
        "type": "tcp request2",
        "z": "a1a9f5626a019087",
        "name": "when receive \\n; over time 2000ms",
        "server": "127.0.0.1",
        "serverType": "str",
        "port": "1889",
        "portType": "str",
        "out": "char",
        "ret": "buffer",
        "overTime": "2000",
        "waitingTime": "0",
        "waitingLength": "12",
        "splitc": "\\n",
        "bufferLength": "65536",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 360,
        "y": 920,
        "wires": [
            [
                "98c232a9e122bead"
            ]
        ]
    },
    {
        "id": "50c08e78a121eb6f",
        "type": "inject",
        "z": "a1a9f5626a019087",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 920,
        "wires": [
            [
                "b7b79b1aa558ad0b"
            ]
        ]
    },
    {
        "id": "af514f1924158c7c",
        "type": "comment",
        "z": "a1a9f5626a019087",
        "name": "[1,2,3,4,5,6,7,13,10]",
        "info": "",
        "x": 150,
        "y": 880,
        "wires": []
    },
    {
        "id": "533ac91b54bdf8a4",
        "type": "tcp request2",
        "z": "a1a9f5626a019087",
        "name": "after  5 chars",
        "server": "127.0.0.1",
        "serverType": "str",
        "port": "1889",
        "portType": "str",
        "out": "count",
        "ret": "buffer",
        "overTime": "0",
        "waitingTime": "0",
        "waitingLength": "5",
        "splitc": "\\n",
        "bufferLength": "65536",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 290,
        "y": 1060,
        "wires": [
            [
                "5dba8376889a7bfe"
            ]
        ]
    },
    {
        "id": "e958237a47b4d644",
        "type": "inject",
        "z": "a1a9f5626a019087",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 1060,
        "wires": [
            [
                "533ac91b54bdf8a4"
            ]
        ]
    },
    {
        "id": "5dba8376889a7bfe",
        "type": "debug",
        "z": "a1a9f5626a019087",
        "name": " after a fixed number of characters",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 1060,
        "wires": []
    },
    {
        "id": "84462e9fd892f5c1",
        "type": "comment",
        "z": "a1a9f5626a019087",
        "name": "[1,2,3,4,5]",
        "info": "",
        "x": 120,
        "y": 1020,
        "wires": []
    },
    {
        "id": "6c1fc40d0835d634",
        "type": "tcp request2",
        "z": "a1a9f5626a019087",
        "name": "after  5 chars; over time 1000ms",
        "server": "127.0.0.1",
        "serverType": "str",
        "port": "1889",
        "portType": "str",
        "out": "count",
        "ret": "buffer",
        "overTime": "1000",
        "waitingTime": "0",
        "waitingLength": "5",
        "splitc": "\\n",
        "bufferLength": "65536",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 350,
        "y": 1140,
        "wires": [
            [
                "5dba8376889a7bfe"
            ]
        ]
    },
    {
        "id": "ebcb2ec78fbdade4",
        "type": "inject",
        "z": "a1a9f5626a019087",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 1140,
        "wires": [
            [
                "6c1fc40d0835d634"
            ]
        ]
    },
    {
        "id": "e8cbd405d5653c0f",
        "type": "comment",
        "z": "a1a9f5626a019087",
        "name": "connect failed 127.0.0.1:1889",
        "info": "",
        "x": 180,
        "y": 1100,
        "wires": []
    },
    {
        "id": "e0d4fec780ac132f",
        "type": "tcp request2",
        "z": "a1a9f5626a019087",
        "name": "after  5 chars; over time 3000ms",
        "server": "127.0.0.1",
        "serverType": "str",
        "port": "1889",
        "portType": "str",
        "out": "count",
        "ret": "buffer",
        "overTime": "3000",
        "waitingTime": "0",
        "waitingLength": "5",
        "splitc": "\\n",
        "bufferLength": "65536",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 350,
        "y": 1220,
        "wires": [
            [
                "5dba8376889a7bfe"
            ]
        ]
    },
    {
        "id": "da6cb03b7330076d",
        "type": "inject",
        "z": "a1a9f5626a019087",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 1220,
        "wires": [
            [
                "e0d4fec780ac132f"
            ]
        ]
    },
    {
        "id": "06879b94abfbe2c5",
        "type": "comment",
        "z": "a1a9f5626a019087",
        "name": "[1,2,3,4,5]",
        "info": "",
        "x": 120,
        "y": 1180,
        "wires": []
    },
    {
        "id": "7be4a082a55955ae",
        "type": "tcp request2",
        "z": "a1a9f5626a019087",
        "name": "immediately - don't wait for reply",
        "server": "127.0.0.1",
        "serverType": "str",
        "port": "1889",
        "portType": "str",
        "out": "immed",
        "ret": "buffer",
        "overTime": "0",
        "waitingTime": "0",
        "waitingLength": "12",
        "splitc": "\\n",
        "bufferLength": "65536",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 350,
        "y": 1500,
        "wires": [
            [
                "67f703a5ac395b90"
            ]
        ]
    },
    {
        "id": "16b9031229d0bdaf",
        "type": "inject",
        "z": "a1a9f5626a019087",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 1500,
        "wires": [
            [
                "7be4a082a55955ae"
            ]
        ]
    },
    {
        "id": "67f703a5ac395b90",
        "type": "debug",
        "z": "a1a9f5626a019087",
        "name": "don't wait for reply",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 1500,
        "wires": []
    }
]